
<div id="indexEMailMessage" v-cloak>
    <div class="container">
        <h1>Email Service</h1>

        <p>Set up the your personalised email service!</p>
        <p>type: {{type}}</p>
        <p>cylce {{cycle}}</p>
        <p>tipxxx {{tip}}</p>


        <router-link to="/set-email-type">Start</router-link>

        <!-- end desktop tabs -->
        <!-- this is where your component will render in your view -->
        <router-view @set-type="setEmailType" @set-cycle="setEmailCycle" @set-tip="setTip"></router-view>
        <!-- End component render -->
    </div>
</div>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
