
<div class="container">
    <h1> Our Team </h1>

    <p>Welcome to our website, where you can easily track and manage your Defichain token investments.
        Our team, Elias and Nils, created this platform to provide users with a convenient and streamlined way to stay on top of their portfolio and make informed decisions about their investments.
        With real-time data and easy-to-use tools, our website is the perfect solution for anyone looking to take control of their Defichain token investments.
    </p>
    <p class="my-4">Thank you for choosing us as your go-to resource for Defichain token tracking and portfolio management.</p>


</div>
