.carousel-item {
  height: 15rem;
  background: #ff00af;
}

.carousel-item h1 {
  position: relative;
  color: white;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms infinite;
}

.carousel-item p {
  font-size: 14px;
}

body{
  font-family: "Roboto Light", sans-serif;
}
