


<div class="container">
    <h1>Create your Portfolio</h1>
    <form class="form-row" action="/create-portfolio" method="post">
        <div class="form-group col-md-6">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Name">
            <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
            <button type="submit" id="defi-button-mobile">Submit</button>
        </div>
    </form>
</div>
