<main>
    <div class="container">
        <div class="row">
            <a class="btn-secondary btn" href="trans-01/crypto"> Crypto </a>
            <a class="btn-secondary btn" href="trans-01/stock"> Stock </a>
        </div>
        <div class="row">
            <a class="btn-secondary btn" href="/trans-01/etf"> ETF </a>
            <a class="btn-secondary btn" href="/trans-01/fiat"> FIAT </a>
        </div>
    </div>

</main>
