<div class="container">
    <h1>Token Transfer</h1>
    <div class="row">
        <div class="col-md-12">
            <p>Token Name: <%= TokenName %></p>
            <p>Token Data: <%= TokenData %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/trans03" method="post">
                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
